{% extends "index-centred.html" %}
{% load static %}

{% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Лицезии</title>
{% endblock meta %}

{% block maincontent %}
<article id="" class="content white">
  <div><h5 class="centerd-text"> Лицензии </h5></div> <br>
  <section class="content">
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" data-caption="Лицензия" src="images/license-icon.png">
          </div>
          <div class="card-content">
            <span>Лицензия</span>
            <p><a href="#" download="images/license-icon.png">Скачать</a></p>
          </div>
        </div>  
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" data-caption="Лицензия" src="images/license-icon.png">
          </div>
          <div class="card-content">
            <span>Лицензия</span>
            <p><a href="sdad.txt" target="_blank"  download ="license">Скачать</a></p>
          </div>
        </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" data-caption="Лицензия" src="images/license-icon.png">
        </div>
        <div class="card-content">
          <span>Лицензия</span>
          <p><a href="images/license-icon.png" download="#">Скачать</a></p>
        </div>
      </div>
  </div>
</section>
  <br>
</article>
<br>
{% endblock maincontent %}





