{% extends "index-centred.html" %}
{% load static %}

{% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Партнеры</title>
{% endblock meta %}

{% block maincontent %}
<article id="" class="content white">
  <div><h5 class="centerd-text"> Партнеры</h5></div> <br>
  <section class="content">
    <div class="row">
      <div class="col s12 m4">
        <div class="card-image small"> 
          <a href="https://custom-eng.ru/o-kompanii/"> <img src="images/custom-eng.ru.jpg" "  style="max-width: 100%;"></a>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-image small">
          <img src="images/custom-eng.ru.jpg"   style="max-width: 100%;">
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-image small">
          <img src="images/custom-eng.ru.jpg"   style="max-width: 100%;">
        </div>
      </div>
      {% for partner in parners %}
      <div class="col s12 m4">
        <div class="card-image small">
          <img src="{{Media}}{{product.images.url}}"   style="max-width: 100%;">
        </div>
        <a href="{{product.link}}"> {{product.link}} </a>
      </div>
      {% endfor %}  
    </div>
    <a class="blue btn modal-trigger  col s12" href="#modal1" style="width: 98%; margin-left: 0.5rem;">Связаться с нами</a>
  </section>
  <br>
</article>
<br>
{% endblock maincontent %}

