        <!-- Modal Structure -->
        {% extends "index-centred.html" %}
        {% load static %}
        
        {% block meta %}
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
          <meta name="viewport" content="width=device-width, initial-scale=1"/>
          <title>Услуги</title>
        {% endblock meta %}
        
        {% block maincontent %}
        <article id="" class="white content " style="overflow-x: hidden;">
          <section class="content">
            <div class="" >
              <div class="row card-tabs s12">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a href="#test4">Разработка систем управления</a></li>
                  <li class="tab"><a class="" href="#test5">Разработка электронных устройств</a></li>
                </ul>
              </div>
              <div class="card-content ">
                <div id="test4">
                  <div class="content">
                    <span class="">I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                  </div>
                  <div class="">
                    <div class="  m5">
                      <div class="row">
                        <div class="white">
                          <div class="col s12 m6 l6">
                            <img class="responsive-img" src="images/pr1.jpg" alt="">
                          </div>
                          <div class="col s12 m6 l6">
                            <img class="responsive-img" src="images/pr2.jpg" alt="">
                          </div>
                        </div>
                        <section class="">
                          <a class="blue btn modal-trigger  col s12" href="#modal1" style="width: 98.5%; margin-left: 0.5rem;" >Связаться с нами</a>
                        </section>
                    </div>
                  </div>
                </div>
                      
                  </div>
                </div>
                <div id="test5">
                  <div class="content">
                    <span class="">I am good I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                  </div>
                  <div class="">
                    <div class="  m5">
                      <div class="row">
                        <div class="white">
                          <div class="col s12 m6 l6">
                            <img class="responsive-img" src="images/pr2.jpg" alt="">
                          </div>
                          <div class="col s12 m6 l6">
                            <img class="responsive-img" src="images/pr1.jpg" alt="">
                          </div>
                        </div>
                        <section class="">
                          <a class="blue btn modal-trigger  col s12" href="#modal1" style="width: 98.5%; margin-left: 0.5rem;" >Связаться с нами</a>
                        </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article> 
        <br>
        {% endblock maincontent %}        
        
        
        